/*body{*/
    /*background-image: url(image/index.jpg);*/
    /*background-color: #c7b39b;*/
    /*background-size: 100% 100%;*/
    /*background-attachment: scroll;*/
body
{
    background-color:#F0E4D2;
}

#header
{
    position:absolute;
    top:0px;
    left:0px;
    background-color:#875730;
    width:100%;
    height:130px;
    text-align:center;
    padding-top:70px;
    font-size:50px; color:#340707;
    font-family:Tahoma, Geneva, sans-serif;
}

.logo
{
    position:absolute;
    top:10px;
    left:10px;
}

.ssylka1
{
    display:block;
    position:absolute;
    top:295px;
    width:185px;
    height:30px;
    border:dotted #875730;
    border-width:1px;
    background-color:#FC9;
    text-align:center;
    padding-top:5px;
    text-decoration:none; color:#033;
}

.ssylka1:hover
{
    display:block;
    position:absolute;
    top:295px;
    width:185px;
    height:30px;
    border:dotted #875730;
    border-width:1px;
    background-color:#E6A073;
    text-align:center;
    padding-top:5px;
    text-decoration:none; color:#0727BE;
}



.ssylka2
{
    display:block;
    position:absolute;
    top:345px;
    width:185px;
    height:30px;
    border:dotted #875730;
    border-width:1px;
    background-color:#FC9;
    text-align:center;
    padding-top:5px;
    text-decoration:none; color:#033;
}

.ssylka2:hover
{
    display:block;
    position:absolute;
    top:345px;
    width:185px;
    height:30px;
    border:dotted #875730;
    border-width:1px;
    background-color:#E6A073;
    text-align:center;
    padding-top:5px;
    text-decoration:none; color:#0727BE;
}

#menu_left
{
    position:absolute;
    top:240px;
    left:8px;
    width:185px;
    height:200px;
    border:solid; color:#875730;
    border-width:1px;
}

#menu_left2
{
    position:absolute;
    top:240px;
    left:8px;
    width:187px;
    height:30px;
    background-color:#C60;
    border-width:1px;
    text-align:center;
    padding-top:10px;
}

#menu_right
{
    position:absolute;
    top:240px;
    right:8px;
    width:185px;
    height:200px;
    border:solid; color:#875730;
    border-width:1px;
}

#menu_right2
{
    position:absolute;
    top:240px;
    right:8px;
    width:187px;
    height:30px;
    background-color:#C60;
    border-width:1px;
    text-align:center;
    padding-top:10px;
}

#content
{
    position:static;
    margin-top:240px;
    margin-left:20%;
       width:60%;
}

#foot
{
    position:absolute;
    right: 2%;
    margin-top:50px;
    background-color:#F0E4D2;
    width:88px;
    padding:20px;
}

#footer {
    position: absolute;
    left: 0px;

    margin-bottom: 5px;
    margin-top: 30px;
    background-color: #5F3625;
    width: 100%;
    height: 70px;
}